<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/head :: head_fragment(title= '商品一覧',
        scripts= ~{::script}, links= ~{::link})">
        <!-- 当画面で使用するjavascript、cssをフラグメントに渡します -->
        <script th:src="@{/admin/js/product-list.js}"></script>
    </head>
    <body>
        <!-- 共通部品を呼び出す -->
        <div th:replace="common/header :: header"></div>
        <div class="title-container">
            <h1>商品一覧画面</h1>
        </div>
        <div class="list-container">
                <table class="list-tbl">
                    <thead class="tbl-thead">
                        <tr>
                            <th>商品ID</th>
                            <th>商品名</th>
                            <th>値段</th>
                            <th>在庫数</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="tbl-tbody">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                                <button class="btn btn-info" id="edit_btn_" value="">編集</button>
                                <input type="hidden" id="hd_update_count" value="0"/>
                        </td>
                        <td>
                                <button class="btn btn-danger" id="delete_btn_" value="">削除</button>
                        </td>
                    </tbody>
                </table>
        </div>
    </body>
</html>