<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/head :: head_fragment(title= '商品一覧',
        scripts= ~{::script}, links= ~{::link})">
        <!-- 当画面で使用するjavascript、cssをフラグメントに渡します -->
        <link th:href="@{/admin/css/product-list.css}" rel="stylesheet">
        <script th:src="@{/admin/js/product-list.js}"></script>
    </head>
    <body>
        <!-- 共通部品を呼び出す -->
        <div th:replace="common/header :: header"></div>
        <div class="title-container">
            <h1>商品一覧画面</h1>
        </div>
        <div class="list-container">
                <table class="list-tbl">
                    <thead class="tbl-thead">
                        <tr>
                            <th style="width: 136px;">商品ID</th>
                            <th style="width: 608px;">商品名</th>
                            <th style="width: 130px;">値段</th>
                            <th style="width: 130px;">在庫数</th>
                            <th style="width: 130px;"></th>
                            <th style="width: 130px;"></th>
                        </tr>
                    </thead>
                    <tbody class="tbl-tbody">
                        <th:block  th:each="productInfo, stat : ${productInfoDisplayList}">
                            <tr>
                                <td style="width: 130px;" th:text="${productInfo.productId}"></td>
                                <td style="width: 608px;" th:text="${productInfo.productName}"></td>
                                <td style="width: 130px;" th:text="${productInfo.productPrice}"></td>
                                <td style="width: 130px;" th:text="${productInfo.productStockNum}"></td>
                                <td style="width: 130px;">
                                        <button class="btn btn-info" th:id="'edit_btn_' + ${stat.index}" value="">編集</button>
                                        <input type="hidden" th:id="'hd_update_count_' + ${stat.index}" th:value="${productInfo.updateCount}"/>
                                </td>
                                <td style="width: 130px;">
                                        <button class="btn btn-danger" th:id="'delete_btn_' + ${stat.index}" value="">削除</button>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
        </div>
    </body>
</html>